body{
  background-color: #071033;
}

h1{
  font-size: 2rem;
  color: azure;
  text-align: center;
}

.cartoon-me {
  --skin: rgb(255, 199, 161);
  --skin3: rgb(248, 189, 150);
  --skin2: rgb(206, 160, 130);
  --iris: rgb(102, 54, 14);
  --hair: rgb(36, 23, 6);
  --shirt: #071033;
  --shirt2: #111c47;
  --shirt3: #152258;
  --button: #546ed6;
}

.cartoon-me {
  margin: 0 auto;
  position: relative;
  width: 50vmin;
  height: 50vmin;
  border-radius: 50%;
  background-color: azure; 
}

.cartoon-me div {
  position: absolute;
  box-sizing: border-box;
}

.face{
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36%;
  height: 45%;
  background: var(--skin);
  border-radius: 50% 50% 44% 45% / 33% 31% 51% 50%;
}

.nose {
  width: 24%;
  height: 35%;
  background: black;
  opacity: 0.1;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(56% 73%, 44% 82%, 11% 78%, 13% 87%, 22% 95%, 46% 98%, 65% 97%, 78% 94%, 85% 82%, 61% 1%);
}

.eyebrow-right,
.eyebrow-left {
  width: 40%;
  height: 20%;
  top: 26%;
  left: 55%;
  border-radius:  100% 90% 100% 40% / 70% 100% 90% 100%;
  box-shadow: 5vmin -5vmin 5vmin -5vmin var(--hair);
}

.eyebrow-right{
  left: 5%;
  transform: rotateY(180deg);
}

.stubble{
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32%;
  height: 15%;
  background: rgb(0, 0, 0);
  opacity: 0.05;
  border-radius: 45% 43% 50% 50% / 5% 5% 100% 100% ;
}

.mouth{
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19%;
  height: 6.75%;
  border-radius: 0.8vmin 0.8vmin 8vmin 8vmin;
  background: rgb(255, 72, 0);
  transition: all 300ms smooth;
}


/* ears */
.ear-left,
.ear-right{
  width: 7.5%;
  height: 13.5%;
  background: var(--skin3);
  top: 31%;
  left: 69%;
  transform: translate(-50%, -50%);
  border-radius: 33% 61% 44% 52% / 39% 41% 59% 20%;
  box-shadow: inset 20vmin 2vmin 1vmin 8.5vmin var(--line)
}

.ear-left{
  border-radius: 
  61% 33% 52% 44%/ 41% 39% 20% 59%;
  left: 31%;
  box-shadow: inset -10vmin 2vmin 1vmin -8.5vmin var(--line)
}
/* hair */
.hair {
  background-color: var(--hair);
  transform: translate(-50%, -50%);
}

.hl{
  width: 3%;
  height: 13.5%;
  top: 23%;
  left: 32.5%;
  border-radius: 69% 0% 37% 30% / 41% 30% 54% 31%;
}

.hlm{
  width: 10.5%;
  height: 13.5%;
  top: 6%;
  left: 32.5%;
  border-radius: 94% 3%  97% 0% / 95% 11% 89% 0%;
  transform: rotate(9deg);
}

.htl{
  width: 10.5%;
  height: 29%;
  top: -4%;
  left: 45%;
  border-radius: 98% 2% 100% 0% / 62% 0% 100% 38%;
  transform: rotate(78deg);
} 

.hr{
  width: 3%;
  height: 13.5%;
  top: 23%;
  left: 67.5%;
  border-radius: 0% 69% 30% 37% / 30% 41% 31% 54%;
}

 .hrm{
  width: 10.5%;
  height: 13.5%;
  top: 7%;
  left: 57%;
  border-radius: 0% 100% 8% 93% / 35% 73% 26% 66%;
  transform: rotate(-15deg);
}

/* glasses */
.glasses-container{
  width: 39%; 
  height: 15%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glasses {
    position: relative;
    width: 100%; 
    height: 100%;
}
    
.g-top {
  height: 0.5vmin;
  width: 100%;
  background-color: black;
  top: 8%;
  border-radius: 5px;
}
    
.glass {
  height: 60%;
  width:38%;
  background-color: var(--skin);
  border: 0.1vmin solid black;
  border-top: 0.5vmin solid black;
  
  top: 4%;        
}
    
.g-left {
  left: 8%;
  border-radius: 1.5vmin 1vmin 3vmin 3vmin;
}

.g-right {
  right: 8%;
  border-radius: 1vmin 1.5vmin 3vmin 3vmin;
}

/* eyes part of glasses */

.eye{
  top: 13%;
  background-color: white;
  overflow: hidden;
}

.left-eye{ 
  left: 12%;
  height: 40%;
  width: 30%;
  border-radius: 83% 79% 10% 100% / 86% 100% 16% 76%;
  rotate: -5deg;
}

.right-eye{
  left: 58%;
  height: 40%;
  width: 30%;
  border-radius: 79% 83% 100% 10% / 100% 86% 76% 16%;
  rotate: 6deg;
}

.iris{
  position: relative;
  background-color: var(--iris);
  height: 3.5vmin;
  width: 3.5vmin;
  border-radius: 50%;
  margin-left: 1.6vmin;
  margin-top: 0vmin;
}

.pupil {
  background-color: rgb(36, 16, 6);
  height: 1.5vmin;
  width: 1.5vmin;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pupil::after{
  content: "";
  display: block;
  height: 0.6vmin;
  width: 0.6vmin;
  background-color: white;
  border-radius: 40%;
}

/* body */

.neck{
  width: 16.5%;
  height: 24%;
  background: var(--skin2);
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5vmin;
}

.shirt-collar-right,
.shirt-collar-left{
  width: 10%;
  height: 6%;
  background: var(--shirt);
 clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
  top: 61%;
  left: 58%;
  transform: translate(-50%, -50%) rotate(-10deg);
}

.shirt-collar-left{
  left: 42%;
   clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  transform: translate(-50%, -50%) rotate(10deg);
}

.shirt {
  width: 75%;
  height: 34.5%;
  background: var(--shirt2);
  border-radius: 50%;
  top: 57%;
  left: 50%;
  transform: translate(-50%, 0);
  clip-path: polygon(0% 40%, 40% 10%, 60% 0%, 50% 5%, 50% 5%, 100% 40%, 100% 100%, 0% 100%);
}

.shirt-front{
  width: 9%;
  height: 32%;
  background-color: var(--shirt3);
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shirt-button-three,
.shirt-button-two,
.shirt-button-one{
  width: 4.5%;
  height: 4.5%;
  border-radius: 50%;
  background-color: var(--button);
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shirt-button-two{
  top: 75%;
}

.shirt-button-three{
  top:88%;
}
